*.hi
Untitled*.ipynb
main/Main
.stack-work
notebooks/Test.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled0.ipynb
*.dyn_o
*.dyn_hi
*.o
dist
IHaskell/GHC
env
.shelly
.ihaskell_capture
.ipynb_checkpoints
Hspec
todo
profile/profile.tar
.cabal-sandbox
cabal.sandbox.config
.tmp1
.tmp2
.tmp3
.stack-work
src/Hspec
notebooks
dist
**/dist
**/.stack-work
