# Test against different stack LTS versions.
env:
 - LTS=6.2  # Most recent GHC 7.10 LTS
 - LTS=2.22 # Last GHC 7.8 LTS

# Choose a lightweight base image; we provide our own build tools.
language: c

# Enable caching.
sudo: false

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal
  - $HOME/.stack

before_install:
    # Download and unpack the stack executable
  - export PATH=$HOME/.local/bin:$PATH
  - mkdir -p ~/.local/bin
  - curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
    # Install zeromq3 -- the package is not supported yet on Travis whitelist... (06/06/2016)
  - travis_retry git clone http://www.github.com/zeromq/zeromq4-x.git libzmq
  - | export OLDPWD=$(pwd) 
      mkdir $HOME/zeromq
      cd libzmq
      travis_retry ./autogen.sh
      travis_retry ./configure --prefix=$HOME/zeromq
      make
      travis_retry make install
      travis_retry ldconfig
      cd $OLDPWD

addons:
  apt:
    packages:
      - libmagic-dev
      - libgmp-dev

install:
  - stack setup
  - stack build --dependencies-only --resolver=$LTS

script:
  - stack build --resolver=$LTS
  - stack test --resolver=$LTS
