/*
Custom IHaskell CSS.
*/
.highlight-code {
    white-space: pre;
    font-family: monospace;
}
.suggestion-warning { 
    font-weight: bold;
    color: rgb(200, 130, 0);
}
.suggestion-error { 
    font-weight: bold;
    color: red;
}
.suggestion-name {
    font-weight: bold;
}
