name: "Docker"
on:
  push:
    branches:
      - master
    paths:
      - '.dockerignore'
      - '.github/workflows/docker.yml'
      - 'Dockerfile'
      - 'LICENSE'
      - 'ghc-parser/**'
      - 'html/**'
      - 'ihaskell-display/**'
      - 'ihaskell.cabal'
      - 'ipython-kernel/**'
      - 'main/**'
      - 'src/**'
      - 'stack.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@01aecccf739ca6ff86c0539fbc67a7a5007bbc81
    - uses: elgohr/Publish-Docker-Github-Action@b2f63259b466ca5a4be395c392546de447450334
      with:
        name: gibiansky/ihaskell
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
