name: "Nix"
on:
  schedule:
    - cron: '0 2 * * *'
  push:
    branches:
      - master
    paths-ignore:
      - 'demo/**'
      - 'docker/**'
      - 'Dockerfile'
      - '.dockerignore'
      - '.ghci'
      - '.gitignore'
      - 'images/**'
      - 'notebooks/**'
      - 'README.md'
      - '*.yaml'
  pull_request:
    paths-ignore:
      - 'demo/**'
      - 'docker/**'
      - 'Dockerfile'
      - '.dockerignore'
      - '.ghci'
      - '.gitignore'
      - 'images/**'
      - 'notebooks/**'
      - 'README.md'
      - '*.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - release: 'release-8.10.nix'
          - release: 'release-9.0.nix'
          - release: 'release-9.2.nix'
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v10
      with:
        name: ihaskell
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: |
        nix-build --keep-going \
        -I nixpkgs=https://github.com/NixOS/nixpkgs/tarball/nixos-21.05 \
        ${{ matrix.versions.release }} \
        --arg packages "haskellPackages: [ haskellPackages.ihaskell ]"
      # release-9.2.nix doesn't include HLint support so the test fails
    - if: ${{ matrix.versions.release != 'release-9.2.nix' }}
      run: |
        nix-shell \
        -I nixpkgs=https://github.com/NixOS/nixpkgs/tarball/nixos-21.05 \
        -p jq --run \
        'test/acceptance.nbconvert.sh result/bin/jupyter nbconvert'

